<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.text %></td>
        <td><%= link_to 'Show', topic_post_comment_path(@topic, @post,comment) %></td>
        <% if can? :update,comment%>
        <td><%= link_to 'Edit', edit_topic_post_comment_path(@topic, @post,comment) %></td>
        <td><%= link_to 'Destroy', topic_post_comment_path(@topic, @post,comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_topic_post_comment_path(@topic,@post) %>|
<%= link_to 'Back to posts', topic_posts_path(@topic) %>|
<%= link_to "Back to topic",topics_path %>